.card {
  border-radius: 10px;
  margin: 5px;
  overflow: hidden;
  border: 3pt solid #003594;
  background:rgba(255, 255, 255, 0.7);
  &.border-none {
    border: none;
  }
  .c-header {
    padding: 10px;
    height: 18px;
    width: calc(100% - 20px);
    background: #003594;
    color: #FFB500;
    font-weight: 900;
    h1 {
      font-size: 18px;
    }
  }

  .c-body {
    padding: 10px 10px 15px 10px;
    width: calc(100% - 20px);

  }
}
